---
layout: default
---

<div class="post">
  {% for sh in page.sheets %}
    {% point = sh.text ? "pointer" : "" %}
    {% if sh.img %}
      <div class="sheet {{ point }}" x-data="{ open: false }" x-on:click="open = ! open">
        <img src="https://anillustrateddive.sfo3.digitaloceanspaces.com/{{sh.img}}">
        {% if sh.text %}
        <div class="description" x-cloak x-show="open" x-transition>
          <div class="text">
            {{sh.text | newline_to_br}}
          </div>
        </div>
        {% endif %}
      </div>
    {% elsif sh.imgs %}
      <div class="sheet-horizontal">
        {% for im in sh.imgs %}
          <img src="https://anillustrateddive.sfo3.digitaloceanspaces.com/{{im}}">
        {% endfor %}
      </div>
    {% endif%}
  {% endfor %}
</div>
<div>
{{ content }}
</div>